<h2>List<h2>
<h4>Lists are ordered, mutable collection of items

They can contain items of different data types<h4>

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
names = ["namir","ibaad","armaan"]
names

['namir', 'ibaad', 'armaan']

In [3]:
lst_1 = ["namir",100,21,"hello"]
lst_1

['namir', 100, 21, 'hello']

In [5]:
for i in lst_1:
    print(i)

namir
100
21
hello

In [6]:
lst_1[0]

'namir'

In [7]:
lst_1[3]

'hello'

In [8]:
lst_1[-1]

'hello'

In [10]:
lst_1[0:3]

['namir', 100, 21]

In [13]:
lst_1[1:]

[100, 21, 'hello']

In [16]:
lst_1[::-1]

['hello', 21, 100, 'namir']

In [18]:
lst_1[::2]

['namir', 21]

In [19]:
lst_1[3] = "world"
lst_1

['namir', 100, 21, 'world']

In [20]:
lst_1.append("shah")
lst_1

['namir', 100, 21, 'world', 'shah']

In [21]:
lst_1.insert(0,"Hi")
lst_1

['Hi', 'namir', 100, 21, 'world', 'shah']

In [26]:
lst_1.remove("world")  #removes first occurence of item
lst_1

['Hi', 'namir', 100, 21, 'shah']

In [27]:
print(lst_1.pop())

shah

In [28]:
lst_1

['Hi', 'namir', 100, 21]

In [29]:
lst_1.count("Hi")

1

In [31]:
lst_1.reverse()
lst_1

[21, 100, 'namir', 'Hi']

In [32]:
lst_1.clear()   #removes all items from th list

In [36]:
for i in names:
    print(names.index(i), i)

0 namir
1 ibaad
2 armaan

In [38]:
for index,names in enumerate(names):
    print(index,names)

0 namir
1 ibaad
2 armaan

In [39]:
nums = []
for i in range(10):
    nums.append(i**2)

In [40]:
nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
sqrs = [i**2 for i in range(21)]
print(sqrs)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [44]:
even_nums = [i for i in range(10) if i%2==0]
print(even_nums)

[0, 2, 4, 6, 8]

In [45]:
l1 = [1,2,3,4]
l2 = ['a','b','c','d']
pairs = [[i,j]for i in l1 for j in l2]
print(pairs)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

<h3>Tuples<h3>
<h4>Tuples are ordered collection of items that are immutable. Tey are similar to lists, but their immutability makes them different<h4>

In [1]:
emp_tup=()
print(type(emp_tup))

<class 'tuple'>

In [2]:
mix_tup = (1,2,"Hello",10,"User")
mix_tup

(1, 2, 'Hello', 10, 'User')

In [3]:
mix_tup[0]

1

In [4]:
mix_tup[-1]

'User'

In [5]:
mix_tup[0:5]

(1, 2, 'Hello', 10, 'User')

In [6]:
nums =(1,2,3,4)

In [7]:
concat_tup = nums + mix_tup
concat_tup

(1, 2, 3, 4, 1, 2, 'Hello', 10, 'User')

In [10]:
nums *2

(1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
sup = (1,2,3,1,4,2,10,2,10)

In [15]:
print(sup.count(1))

2

In [21]:
print(sup.index(10))

6

In [22]:
packed_tup=1,"world",10  #packing
print(packed_tup)

(1, 'world', 10)

In [23]:
a,b,c = packed_tup
print(a)
print(b)
print(c)

1
world
10

In [24]:
nums_1 = 1,2,3,4,5,6
first,*middle,last = nums_1
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [25]:
lst = [[1,2,3],[4,5,6],[7,8,9]]

In [26]:
lst[0]

[1, 2, 3]

In [27]:
lst[2]

[7, 8, 9]

In [28]:
lst[2][0]

7

In [29]:
lst[0][0:2]

[1, 2]

In [30]:
for sub_items in lst:
    for items in sub_items:
        print(items)

1
2
3
4
5
6
7
8
9

<h3>Sets<h3>
<h4>They are used to store unique items. They are unordered meaning that the elements do not follow a specific order<h4>

In [1]:
my_set = {1,2,3,4,5}
print(type(my_set))

<class 'set'>

In [3]:
empset = set()
print(type(empset))

<class 'set'>

In [4]:
nums = set([1,2,34,1,10,5,2,5])
print(nums)

{1, 2, 34, 5, 10}

In [6]:
my_set.add(10)
my_set

{1, 2, 3, 4, 5, 10}

In [7]:
my_set.remove(10)
my_set

{1, 2, 3, 4, 5}

In [8]:
my_set.remove(10)  #will throw an error if element not present

KeyError: 10

In [9]:
my_set.discard(10)

In [14]:
my_set1 = {1,2,3,4,5}
my_set1.pop()  #first element will be removed since set is of first in first out order

1

In [15]:
my_set1.clear()

In [16]:
exmp_set = {1,10,20,2,5}

In [17]:
print(1 in exmp_set)

True

In [18]:
print(3 in exmp_set)

False

In [27]:
set1 = {10,20,30,40}
set2 = {1,3,5,9,11,10}

In [28]:
union_set = set1.union(set2)
print(union_set)

{1, 3, 5, 40, 9, 10, 11, 20, 30}

In [29]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{10}

In [30]:
set1.intersection_update(set2)  #updates set1 with common elements 
set1

{10}

In [32]:
set3 = {3,5,0,10,2}
set4 = {10,1,2,3,4}

In [34]:
print(set3.difference(set4))

{0, 5}

In [35]:
print(set3.issubset(set4))

False

In [36]:
print(set3.issuperset(set4))

False

<h3>Dictionary<h3>
<h4>Dictionaries are unordered collection of items that store data in key value pairs, Kyes must be unique and immutable(string,numbers,tuples)<h4>

In [4]:
emp_dict={}
emp_dict2 = dict()
print(type(emp_dict))
print(type(emp_dict2))

<class 'dict'>
<class 'dict'>

In [5]:
students = {"name":"Namir","Age":21,"Email":"namirsayyed50@gmail.com"}
print(students)

{'name': 'Namir', 'Age': 21, 'Email': 'namirsayyed50@gmail.com'}

In [7]:
students2 = {"name":"John","Age":20,"name":"johnworld@gmail.com"}  #since there is same key, the value will be the most recent one
print(students2)

{'name': 'johnworld@gmail.com', 'Age': 20}

In [8]:
print(students["name"])

Namir

In [9]:
students.get("Email")

'namirsayyed50@gmail.com'

In [12]:
students.get("last_name","Not Available")  #if such key is not present

'Not Available'

In [15]:
students["Age"]=22

In [16]:
students["address"] = "Mumbai"
print(students)

{'name': 'Namir', 'Age': 22, 'Email': 'namirsayyed50@gmail.com', 'age': 22, 'address': 'Mumbai'}

In [20]:
#del students["age"]

In [21]:
print(students)

{'name': 'Namir', 'Age': 22, 'Email': 'namirsayyed50@gmail.com', 'address': 'Mumbai'}

In [22]:
print(students.values())

dict_values(['Namir', 22, 'namirsayyed50@gmail.com', 'Mumbai'])

In [23]:
print(students.keys())

dict_keys(['name', 'Age', 'Email', 'address'])

In [24]:
print(students.items())

dict_items([('name', 'Namir'), ('Age', 22), ('Email', 'namirsayyed50@gmail.com'), ('address', 'Mumbai')])

In [30]:
for key,value in dict.items(students):
    print(key,':',value)

name : Namir
Age : 22
Email : namirsayyed50@gmail.com
address : Mumbai

In [31]:
for i,j in dict.items(students):
    print(i,j)

name Namir
Age 22
Email namirsayyed50@gmail.com
address Mumbai

In [32]:
college_students = {
    "student1":{"name":"Namir","Age":21,"Address":"Mumbai"},
    "student2":{"name":"John","Age":20,"Address":"Florida"},
    "student3":{"name":"Chris","Age":22,"Address":"Miami"},
    "student4":{"name":"Cathy","Age":20,"Address":"Cali"}
}
print(college_students)

{'student1': {'name': 'Namir', 'Age': 21, 'Address': 'Mumbai'}, 'student2': {'name': 'John', 'Age': 20, 'Address': 'Florida'}, 'student3': {'name': 'Chris', 'Age': 22, 'Address': 'Miami'}, 'student4': {'name': 'Cathy', 'Age': 20, 'Address': 'Cali'}}

In [51]:
for key,value in dict.items(college_students):
        print(key)
        print(value)
        print()

student1
{'name': 'Namir', 'Age': 21, 'Address': 'Mumbai'}

student2
{'name': 'John', 'Age': 20, 'Address': 'Florida'}

student3
{'name': 'Chris', 'Age': 22, 'Address': 'Miami'}

student4
{'name': 'Cathy', 'Age': 20, 'Address': 'Cali'}

In [52]:
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [54]:
even_squares = {x:x**2 for x in range(5) if x%2==0}
print(even_squares)

{0: 0, 2: 4, 4: 16}

In [66]:
numbers = [1,2,3,4,5,6]
numbers_dic = {key:value for key, value in enumerate(numbers)}
print(numbers_dic)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [71]:
counts = {x: numbers.count(x) for x in numbers_dic.values()}
print(counts)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1}

In [80]:
frequency = {}
numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1
print(frequency)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1}

In [81]:
from collections import Counter

numbers = [1, 2, 3, 4, 5, 6]
frequency = Counter(numbers)
print(dict(frequency))

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1}

In [87]:
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
merged_dict = dict1.copy()
merged_dict.update(dict2)
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}